.title {
    text-align: left;
    font-size: 40px;
    padding: 0em;
}

.search-dropdown {
    margin-top: 2rem;
}

.search-submit {
    margin-top: 2rem;
}

.giphy-button {
    margin-left: 40px;
    margin-bottom: 40px;
}

.trivia-game-navbar {
    margin-bottom: 0;
}

#giphhub-footer {
    color: maroon;
    font-size: 14px;
    width: 100%;
    height: 60px;
    text-align: center;
    position:fixed;
    bottom:0;
    background: #888888;
    margin-bottom: 0;
    margin-left: 0;
}

#search-hr {
    height: 1px;
}

#footer-text {
    margin-top: 2rem;
}